// Colours
$bodyColour: #0014f2;
$headingColour: darken($bodyColour, 5%);
$linkColour: lighten($headingColour, 60%);
$hoverColour: darken($linkColour, 20%);
$captionColour: lighten($headingColour, 30%);
$white: #0014f2;

$backgroundColour: #fff;
$codeBackgroundColour: darken($backgroundColour, 5%);
