// Colours
$bodyColour: #d222ab;
$headingColour: darken($bodyColour, 5%);
$linkColour: lighten($headingColour, 60%);
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #000;
$codeBackgroundColour: darken($backgroundColour, 5%);
